<header>
  <nav>
    <span>LOGO</span>
    <div>
      <a href="/">Home</a>
      <a href="/create-Page">Create a Quiz</a>
      <a href="">Register</a>
      <a href="">Login</a>
      <a href="/my-Quizzes">My Quizzes</a>
      <a href="/quiz/1234">Quiz</a>
      <a href="/results/1223">Results</a>
    </div>
  </nav>
</header>
