<header>
  <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <span>LOGO</span>
    <div>
      <a href="/">Home</a>
      <a href="/create-Page" class ='nav__div-links'>Create a Quiz</a>
      <a href="/my-Quizzes" class ='nav__div-links'>My Quizzes</a>

      <button class="btn btn-info">Login</button>
      <button class="btn btn-info">Register</button>
    </div>
  </nav> -->

  <nav class="navbar navbar-inverse navbar-fixed-top" id="header-container">
    <!-- <div class="container" > -->
      <!-- <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Logo" width="90"></a>
      <!-- </div> -->
      <!-- <div id="navbar" class="collapse navbar-collapse"> -->
        <ul class="nav navbar-nav">
          <li><a href="/" class ='nav__div-links'>Home</a></li>
          <li><a href="/create-Page" class ='nav__div-links'>Create a Quiz</a></li>
          <li><a href="/my-Quizzes" class ='nav__div-links'>My Quizzes</a></li>
        </ul>
        <div id="button-custom">
          <button class="btn btn-info" id="button-individual">Login</button>
          <button class="btn btn-info" id="button-individual">Register</button>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </nav>

</header>
