<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <span>LOGO</span>
    <div>
      <a href="/">Home</a>
      <a href="/create-Page" class ='nav__div-links'>Create a Quiz</a>
      <a href="/my-Quizzes" class ='nav__div-links'>My Quizzes</a>

      <button class="btn btn-info">Login</button>
      <button class="btn btn-info">Register</button>
    </div>
  </nav>
</header>
