<header>
  <nav class='nav__section'>
    <span>LOGO</span>
    <div>
      <a href="/">Home</a>
      <a href="/create-Page" class ='nav__div-links'>Create a Quiz</a>
      <a href="/my-Quizzes" class ='nav__div-links'>My Quizzes</a>

      <a href="">Register</a>
      <a href="">Login</a>
    </div>
  </nav>
</header>
