  <form action="/login" method="POST" class="login-register-div">
  <div class="login-form">
    <h1>Login</h1>
    <div class="form-input-material">
      <input class='form-input-user-pass' type="text"  placeholder="Username"  />

    </div>
    <div class="form-input-material">
      <input class='form-input-user-pass' type="password" placeholder="Password" />

    </div>
    <button class="btn" type="submit" id="button-individual">Login</button>

    <div class="login_bottom-margin">
      <a href='#' class="show-register">Don't have a account?<br> Click here to Register</a>
    </div>
  </div>

  <div class='empty-register'>

    <div class="register-form">
      <h1>Register</h1>
      <div class="form-input-material">
        <input class='form-input-user-pass' type="text" placeholder="Username"   />
      </div>

        <div class="form-input-material">
          <input class='form-input-user-pass' type="email" placeholder="Email"   />
        </div>

      <div class="form-input-material">
        <input class='form-input-user-pass'  type="password" placeholder="Password"   />

      </div>
      <button class="btn" type="submit" id="button-individual">Register</button>

      <div class="login_bottom-margin">
        <a href='#' class="show-login">Already have an account?</a>
      </div>
    </div>
  </div>
</form>
