<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CREATE PAGE </title>

  <!-- CSS STYLING IMPORTS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/form.css" />
  <link rel="stylesheet" href="/styles/login.css" />

  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
  crossorigin="anonymous">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/scripts/login.js"></script>

</head>
<body>
  <header>
    <%- include('partials/_header'); %>
  </header>
  <div class="starter-template">
    <div class="testingbox">
      <%- include('partials/_login'); %>
    </div>

    <h1> Create a Quiz </h1><br>
    <p> Create your own quiz right here! Make sure to select the radio button next to the correct answer for each question. Then hit "Create my quiz!" and your quiz will be ready!</p>
    <br>
    <section>
    <form action="/create-Page" method="POST">
      <div class="question">

        <div class = "individual-question">
        <p><label for="title">Quiz Title:</label><input type="text" id="quiztitle" name="quiztitle" class></p>


          <br>
              </div>

              <div class = "individual-question extra-margin">
              <p><label for="title">Public: </label>
                <input type="radio" id="public" name="publicprivate" required="required" value="public">
                <label for="title">Private: </label>
                <input type="radio" id="private" name="publicprivate" required="required" value="private"></p>
                <br>
                    </div>

        <div class = "individual-question extra-margin">
      <p><label for="q1">Question 1:</label>
      <input type="text" id="q1" name="q1"></p><br>
          </div>

          <div class = "individual-question">
      <p><label for="q1a1">Answer option 1:</label>
      <input type="text" id="q1a1" name="q1a1"><input type="radio" id="q1a1" name="q1radio" required="required" value="1"></p><br>
    </div>

      <div class = "individual-question">
        <p> <label for="q1a2">Answer option 2:</label>
      <input type="text" id="q1a2" name="q1a2"><input type="radio" id="q1a2" name="q1radio" required="required" value="2"></p><br>
    </div>

      <div class = "individual-question">
        <p><label for="q1a3">Answer option 3:</label>
      <input type="text" id="q1a3" name="q1a3"><input type="radio" id="q1a3" name="q1radio" required="required" value="3"></p><br>
    </div>

      <div class = "individual-question">
        <p> <label for="q1a4">Answer option 4:</label>
      <input type="text" id="q1a4" name="q1a4"><input type="radio" id="q1a4" name="q1radio" required="required" value='4'></p><br>
    </div>

      <br>
    </div>

      <div class="question">
        <div class = "individual-question extra-margin">
      <p><label for="q2">Question 2:</label>
      <input type="text" id="q2" name="q2"></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q2a1">Answer option 1:</label>
      <input type="text" id="q2a1" name="q2a1"><input type="radio" id="q2a1" name="q2radio" required="required" value='1'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q2a2">Answer option 2:</label>
      <input type="text" id="q2a2" name="q2a2"><input type="radio" id="q2a2" name="q2radio" required="required" value='2'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q2a3">Answer option 3:</label>
      <input type="text" id="q2a3" name="q2a3"><input type="radio" id="q2a3" name="q2radio" required="required" value='3'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q2a4">Answer option 4:</label>
      <input type="text" id="q2a4" name="q2a4"><input type="radio" id="q2a4" name="q2radio" required="required" value='4'></p><br>
      </div>
      <br>
    </div>

      <div class="question">
        <div class = "individual-question extra-margin">
      <p><label for="q3">Question 3:</label>
      <input type="text" id="q3" name="q3"></p><br>
        </div>

      <div class = "individual-question">
      <p><label for="q3a1">Answer option 1:</label>
      <input type="text" id="q3a1" name="q3a1"><input type="radio" id="q3a1" name="q3radio" required="required" value='1'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q3a2">Answer option 2:</label>
      <input type="text" id="q3a2" name="q3a2"><input type="radio" id="q3a2" name="q3radio" required="required" value='2'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q3a3">Answer option 3:</label>
      <input type="text" id="q3a3" name="q3a3"><input type="radio" id="q3a3" name="q3radio" required="required" value='3'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q3a4">Answer option 4:</label>
      <input type="text" id="q3a4" name="q3a4"><input type="radio" id="q3a4" name="q3radio" required="required" value='4'></p><br>
      </div>
      <br>
      </div>

      <div class="question">
        <div class = "individual-question extra-margin">
      <p><label for="q4">Question 4:</label>
      <input type="text" id="q4" name="q4"></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q4a1">Answer option 1:</label>
      <input type="text" id="q4a1" name="q4a1"><input type="radio" id="q4a1" name="q4radio" required="required" value='1'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q4a2">Answer option 2:</label>
      <input type="text" id="q4a2" name="q4a2"><input type="radio" id="q4a2" name="q4radio" required="required" value='2'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q4a3">Answer option 3:</label>
      <input type="text" id="q4a3" name="q4a3"><input type="radio" id="q4a3" name="q4radio" required="required" value='3'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q4a4">Answer option 4:</label>
      <input type="text" id="q4a4" name="q4a4"><input type="radio" id="q4a4" name="q4radio" required="required" value='4'></p><br>
      </div>
      <br>
      </div>

      <div class="question">
        <div class = "individual-question extra-margin">
      <p><label for="q5">Question 5:</label>
      <input type="text" id="q5" name="q5"></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q5a1">Answer option 1:</label>
      <input type="text" id="q5a1" name="q5a1"><input type="radio" id="q5a1" name="q5radio" required="required" value='1'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q5a2">Answer option 2:</label>
      <input type="text" id="q5a2" name="q5a2"><input type="radio" id="q5a2" name="q5radio" required="required" value='2'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q5a3">Answer option 3:</label>
      <input type="text" id="q5a3" name="q5a3"><input type="radio" id="q5a3" name="q5radio" required="required" value='3'></p><br>
      </div>

      <div class = "individual-question">
      <p><label for="q5a4">Answer option 4:</label>
      <input type="text" id="q5a4" name="q5a4"><input type="radio" id="q5a4" name="q5radio" required="required" value='4'></p><br>
      </div>
      <br>
      </div>


      <button type="submit" class="btn btn-info" id="button-create">Create my quiz!</button>
    </form>
  </div>
</section>
</body>
</html>
