<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="/styles/login.css" />

  <!-- SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <script>
  $(document).ready(function(){
    $(".show-register").click(function(){
      console.log('clicked')
      $('.login-form').hide();
      $('.empty-register').show();
    });
    $(".show-login").click(function(){
      console.log('clicked')
      $('.login-form').show();
      $('.empty-register').hide();
    });
  });
  </script>


  <title>login page</title>
</head>
<body>
  <form action="/login" method="POST" class="login-register-div">
  <div class="login-form">
    <h1>Login</h1>
    <div class="form-input-material">
      <input type="text"  placeholder="Username"  />

    </div>
    <div class="form-input-material">
      <input type="password" placeholder="Password" />

    </div>
    <button class="btn" type="submit">Login</button>

    <div>
      <a href='#' class="show-register">Don't have a account?</a>
    </div>
  </div>

  <div class='empty-register'>

    <div class="register-form">
      <h1>Register</h1>
      <div class="form-input-material">
        <input type="text" placeholder="Username"   />
      </div>

        <div class="form-input-material">
          <input type="email" placeholder="Email"   />
        </div>

      <div class="form-input-material">
        <input type="password" placeholder="Password"   />

      </div>
      <button class="btn" type="submit">Register</button>

      <div>
        <a href='#' class="show-login">Already have an account?</a>
      </div>
    </div>
  </div>
</form>

</body>
</html>
