
.question {
  display: flex;
  flex-direction: column;

}

.individual-question {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

// input[type=text] {
//   width: 500px;
//   padding: 10px;
//   margin: 10px;
//   border-radius: 6px;
// }

.radio {
  margin-right: 10px;
  margin-left: 40px;
}


