body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: white;
  background-color: rgb(15, 83, 91);

  h1 {
    margin: 0 0 24px 0;
  }

  .form-input-material {
    margin: 12px 0;
  }

  .btn {
    margin-bottom:20px;
    margin-top: 20px;
    color:black
  }

  .form-input-user-pass{
    background: black;
    padding: 0.5rem 0.5rem;
    color: white
  }
  .show-register:visited {
    color:white;
  }
}

.register-form {
  padding-top: 20px;
}

.empty-register {
  display:none;
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: white;
  background-color: rgb(15, 83, 91);

  h1 {
    margin: 0 0 24px 0;
  }

  .form-input-material {
    margin: 12px 0;
  }

  .btn {
    margin-bottom:20px;
    margin-top: 20px;
    color:black
  }

  .form-input-user-pass{
    background: black;
    padding: 0 0.5rem;
    color: white
  }
  .show-login:visited {
    color:white;
  }
}



