body {
  padding-top: 50px;
  display :flex;
  justify-content: center;
  font-family: Open Sans;

}
.starter-template {
  padding: 80px 15px;
  width: 80%;
  font-family: Open Sans;
}

p {
  font-size: 20px;
}

.testingbox {
  display: none;
}
