.nav__section {
  background-color: yellow;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  width: 100vw;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
  position: fixed;
}

.nav__div-links {
  padding: 0.5rem;

}

.nav__div-links-last {
  padding-right: 3rem;

}
